@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    }
 .body {
    background: #000;
    }
    
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('images/header-image.png');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    opacity: 95%;
    }
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
 } 
 .logo{
    width:150px;
    cursor:pointer;
 }  
 .nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
 }
.language-btn{
    display: inline-flex;
    align-items: center;
    background:transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 10px;
}
.language-btn img{
    width: 10px;
    margin: 0 3px;
    /* margin-left: 10px; */
}
.btnredsn{
    background-color: red;
    margin-left: 20px;
    color: white;
    /* padding-top: -50px; */
    padding: 3px 10px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 40;
    font-family: 'Martel Sans', sans-serif;
}
.container-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50%;
}
.container-content h1{
    font-size: 3rem;
    font-family: 'Martel Sans', sans-serif;
    margin-bottom: 20px;
    line-height: 70px;
    font-weight: 600;
    width: 100%;
    /* max-width: 650px; */
    color: #fff;
}   
.container-content h3{
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
    margin-bottom: 20px;
    color: #fff;
}
.container-content p{
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
    margin-bottom: 20px;
    color: #fff;
}
.email-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.email-signup input{
    padding: 18px 120px 10px 18px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.5);
}
.email-signup button{
    background-color: red;
    color: white;
    padding: 4px 24px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
}
.feature{
    padding: 50px 12%;
    font-size: 22px;
    background-color: #000;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    color: #fff;
}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    background-color: #000;
    width: 100%;
}
.faq h2{
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    font-family: 'Martel Sans', sans-serif;
}
.accordion{
    margin: 60px auto;
    width:100%;
    max-width: 750px;
    color: #fff;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030; 
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;

}
input[type="radio"]{
    display:none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.content:hover{
    background-color: rgb(38, 36, 36);
}
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small{
    font-size: 20px;
    color: #fff;
}
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
    background-color: #000;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;

}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px){
    .logo{
        width: 100px;
    }
    .nav button{
        padding: 5px 10px;
    }
    .nav .language-btn{
        padding: 5px 9px;
    }
    .container-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .container-content h1{
        font-size: 30px;
    }
    .email-signup button{
        font-size: 12px;
        padding: 10px 15px;
    }
    .text-col, .img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }
    .row:nth-child(2),.row:nth-child(4){
        flex-direction: column-reverse;
    }
    .features.row{
        padding: 10px 0;
    }
    .faq h2{
        font-size: 20px;
    }
    .accordion.content{
        font-size: 14px;

    }
    .accordion li label{
        padding: 10px;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }
}


.are{
 display: flex;
 align-items: center;
}